* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  margin: 10px;
}
.input-wrapper input {
  width: 75%;
  height: 25px;
  padding: 10px;
}
main p{
  margin: 10px auto;
}
